[Translation]
File=QtopiaSettings
Context=Speed Dial
[Desktop Entry]
Type=Application
Exec=speeddial
Icon=speeddial/speeddial
Name[]=Speed Dial
CanFastload=0
