[Translation]
File=QtopiaApplications
Context=Notes
[Desktop Entry]
Comment[]=A Text Editing Program
Exec=textedit
Icon=textedit/TextEditor
Type=Application
MimeType=text/*
Name[]=Notes
