[Translation]
File=QtopiaApplications
Context=PhotoGallery
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Photo Gallery
Exec=photogallery
MimeType="image/x-bmp;image/bmp;image/gif;image/jpeg;image/mng;image/png;image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap;image/tiff;image/x-xbitmap;image/x-xpixmap;image/svg+xml"
Icon=photogallery/ImageViewer
Type=Application
Name[]=Photos
[DRM]
MimeTypePermissions=Display
