[Translation]
File=QtopiaApplications
Context=Calculator
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Calculator Program
Exec=calculator
Icon=calculator/Calculator
Type=Application
Name[]=Cal\xad\x63u\xadla\xadtor
