[Translation]
File=rfcommserver-nct
Context=rfcommserver

[Desktop Entry]
Comment[]=An example Bluetooth RFCOMM server app
Exec=rfcommserver
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT RFCOMM Server
