[Translation]
File=QtopiaSettings
Context=Recalibrate
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=calibrate
Icon=calibrate/Calibrate
Name[]=Re\xad\x63\x61l\xadi\xad\x62rate
CanFastload=0
Builtin=1
Requires=Calibrate
