[Translation]
File=QtopiaGames
Context=Asteroids
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=Shoot the rocks
Exec=qasteroids
Icon=qasteroids/Asteroids
Type=Application
Name[]=As\xadter\xadoids
