[Translation]
File=QtopiaApplications
Context=Web Album
[Desktop Entry]
Comment[]=An example web-album application based on RSS media feeds
Exec=webalbum
Icon=weblite/album/webalbum.png
Type=Application
Name[]=Web Album
