[Desktop Entry]
Encoding=UTF-8
Name=Qt Extended SDK Quick Start Guide
Comment=
Exec=kpdf /opt/Qtopia/SDK/sdk_quickstart.pdf
Terminal=false
Type=Application
Icon=acroread
StartupNotify=true
Categories=Application;Development;
