[Translation]
File=simpleobexdemo-nct
Context=simpleobexdemo

[Desktop Entry]
Comment[]=A simple OBEX demo
Exec=simpleobexdemo
Icon=simpleobexdemo/simpleobexdemo
Type=Application
Name[]=Simple OBEX demo
