[Translation]
File=QtopiaSettings
Context=Date/Time
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=systemtime
Icon=systemtime/DateTime
Type=Application
Name[]=Date/\xad\x54ime
CanFastload=0
