[Translation]
File=QtopiaApplications
Context=SimApp
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=simapp
Icon=simapp/simapp
Type=Application
Name[]=SIM Ap\xadpli\xad\x63\x61\xadtions
