[Translation]
File=query-nct
Context=query

[Desktop Entry]
Comment[]=An example Bluetooth SDP query app
Exec=query
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT SDP Query
