[Translation]
File=QtopiaServices
Context=RadioPlayer
[Service]
Actions = "nextStation();previousStation()"
Icon = radioplayer/RadioPlayer
Name[]=Radio
[nextStation()]
Icon=radioplayer/RadioPlayer
Name[]="Next radio station"
[previousStation()]
Icon=radioplayer/RadioPlayer
Name[]="Previous radio station"
