[Translation]
File=QtopiaGames
Context=ParaShoot
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Parachute Attack Game
Exec=parashoot
Icon=parashoot/ParaShoot
Type=Application
Name[]=Para\xad\x53hoot
