[Translation]
File=appviewer-nct
Context=appviewer

[Desktop Entry]
Comment[]=An Example Program to View Applications
Exec=appviewer
Icon=appviewer/AppViewer
Type=Application
Name[]=App Viewer
