[Translation]
File=QtopiaSettings
Context=Call Networks
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=phonenetworks
Icon=phonenetworks/PhoneNetworks
Name[]=Call Net\xadworks
CanFastload=0
