[Translation]
File=QtopiaSettings
Context=Rotation
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=rotation
Icon=rotation/Rotation
Name[]=Ro\xadta\xadtion
CanFastload=0
