[Translation]
File=qmediamenutest-nct
Context=QMediaMenuTest

[Desktop Entry]
Comment[]=QMediaMenu Test Program
Exec=qmediamenutest
Icon=qmediamenutest/qmediamenutest
Type=Application
Name[]=QMediaMenuTest
