[Translation]
File=QtopiaServices
Context=BluetoothPush
[Service]
Actions = "pushPersonalBusinessCard();pushPersonalBusinessCard(QBluetoothAddress);pushBusinessCard(QContact);pushBusinessCard(QDSActionRequest);pushCalendar(QDSActionRequest);pushFile(QString,QString,QString,bool);pushFile(QContentId);pushFile(QBluetoothAddress,QContentId);"
Name[]=Send via Bluetooth
Icon=btsettings/BTSettings
[pushPersonalBusinessCard()]
Icon=btsettings/BTSettings
Name[]=Push business card
