[Translation]
File=QtopiaServices
Context=Calendar
[Service]
Actions = "activateLink(QDSActionRequest);raiseToday();requestLinks(QDSActionRequest);newAppointment();cleanByDate(QDate)"
Icon = service/Calendar/DateBook
Name[]=Calendar
[newAppointment()]
Icon = service/Calendar/DateBook
Name[]="New Appointment"
[raiseToday()]
Icon=today
Name[]="Today's Calendar"
