[Translation]
File=QtopiaServices
Context=Camera
[Service]
Actions = "getImage(QDSActionRequest);getVideo(QDSActionRequest);shutter()"
Icon=camera/Camera
Name[]=Camera
