[Translation]
File=QtopiaServices
Context=Contacts
[Service]
Actions = "activateLink(QDSActionRequest);editPersonal();addContact(QContact);addAndEditContact(QContact);removeContact(QContact);requestLinks(QDSActionRequest);updateContact(QContact);showContact(QUniqueId);setContactImage(QString);setContactImage(QDSActionRequest);setPersonalImage(QString);addPhoneNumberToContact(QString);createNewContact(QString);peerPublishRequest(QString);"
Icon = service/Contacts/AddressBook
Name[]=Contacts
