[Translation]
File=QtopiaServices
Context=Service:Name
[Service]
Actions="showContentSet(QContentSet);showContentSet(QString,QContentSet)"
Icon=qpe/DocsIcon
