[Translation]
File=QtopiaServices
Context=ContactsPhone
[Service]
Actions = "smsBusinessCard();pushVCard(QDSActionRequest)"
Icon = service/Contacts/AddressBook
Name[]=SMS Business Card
[smsBusinessCard()]
Icon = phone/sms
Name[]=SMS Business Card
