[Translation]
File=QtopiaServices
Context=ContactIntegration
[Service]
Actions = "requestNewContact();"
Icon = service/Contacts/Addressbook
Name[] = Contact Integration
