[Translation]
File=QtopiaServices
Context=DBMigrationEngine
[Service]
Actions = "doMigrate(QDSActionRequest);ensureTableExists(QDSActionRequest)"
Icon = qpe/DBMigrationEngine
Name[]=Database Migration
