[Translation]
File=QtopiaServices
Context=DbServices
[Service]
Actions="databaseRestore(QString);databaseBackup(QString)"
Name[]=Database Services
Icon = qpe/DbServices
