[Service]
Actions = "emailVCard(QDSActionRequest);viewMail();writeMail()"
Icon = email
Name[] = Email
[Translation]
Context = Email
File = QtopiaServices
[viewMail()]
Icon = email
Name[] = "View Email"
[writeMail()]
Icon = email
Name[] = "Compose Email"
