[Translation]
File=QtopiaServices
Context=qpe
[Service]
Actions = "add(QtopiaServiceDescription);addAndEdit(QtopiaServiceDescription);remove(QtopiaServiceDescription);select()"
Name[]=Favorites
Icon=favorite
