[Translation]
File=QtopiaServices
Context=Email
[Service]
Actions = "viewMessages();viewNewMessages(bool);viewMessage(QMailMessageId);replyToMessage(QMailMessageId)"
Icon = email
Name[]=Messages
[viewMessages()]
Icon = phone/sms
[viewNewMessages(bool)]
Icon = phone/sms
[viewMessage(QMailMessageId)]
Icon = phone/sms
[replyToMessage(QMailMessageId)]
Icon = phone/sms
