[Translation]
File=QtopiaServices
Context=Email
[Service]
Actions = "pushMmsMessage(QDSActionRequest);flashSms(QDSActionRequest)"
Icon = email
Name[]=Message Arrival
