[Translation]
File=QtopiaServices
Context=Network
[Service]
Actions="configureData();configureWap();pushWapNetworkSettings(QDSActionRequest);pushNokiaNetworkSettings(QDSActionRequest);pushLanNetworkSettings(QDSActionRequest)"
Icon=netsetup/internet
Name[]="Setup Network"
[configureData()]
Icon = netsetup/internet
Name[]="Setup Data Network"
[configureWap()]
Icon = netsetup/wap
Name[]="Setup WAP Network"

