[Translation]
File=QtopiaServices
Context=Instant
[Service]
Actions = "arrived(QDSActionRequest)"
Icon = phone/sms
Name[]=New Instant Message Arrival
