[Translation]
File=QtopiaServices
Context=Service:Name
[Service]
Actions="handleXmlRightsObject(QDSActionRequest);handleWbXmlRightsObject(QDSActionRequest);handleRoapTrigger(QDSActionRequest);handleRoapPdu(QDSActionRequest);convertMessage(QDSActionRequest);handleProtectedRightsObject(QDSActionRequest)"
Icon=drm/Drm
