[Translation]
File=QtopiaServices
Context=PackageManager
[Service]
Actions = "installPackage(QDSActionRequest);installPackageConfirm(QString);updatePackage(QString)"
Icon=packagemanager/PackageManager
Name[]="Package Manager"
