[Translation]
File=QtopiaServices
Context=PhotoGallery
[Service]
Actions = "sortAlbumsByDate();sortAlbumsByName();imageSelectorRotateACW();imageSelectorRotateCW();imageSelectorSlideShow();imageViewRotateACW();imageViewRotateCW()"
Icon = photogallery/ImageViewer
Name[]=Photo Gallery
