[Translation]
File=QtopiaServices
Context=Play Media
[Service]
Actions = "openURL(QString)"
Icon = multimedia
Name[]=Play Media
[openURL(QString)]
Icon = multimedia
Name[]=Open Media File
