[Translation]
File=QtopiaServices
Context=QtExtendedPrinting
[Service]
Actions="print(QString);print(QString,QString);printHtml(QString)"
Name[]=Qt Extended Printing Service
Icon=print
