[Translation]
File=QtopiaServices
Context=Profiles
[Service]
Actions="activatePlaneMode();showProfiles()"
Icon=Note
Name[]=Profiles
[activatePlaneMode()]
Icon=aeroplane
Name[]="Set Plane Mode"
Requires=@/Telephony/Status/PlaneModeAvailable=Yes
[showProfiles()]
Icon=profileedit/Note
Name[]="Profiles"
