[Translation]
File=QtopiaServices
Context=Ringtone
[Service]
Actions="startMessageRingtone();stopMessageRingtone();startRingtone(QString);stopRingtone(QString)"
Name[]=Ringtone
Icon=Note
[startMessageRingtone()]
[stopMessageRingtone()]
[startRingtone(QString)]
[stopRingtone(QString)]
