[Translation]
File=QtopiaServices
Context=Email
[Service]
Actions = "writeSms();smsVCard(QDSActionRequest);viewSms();viewSmsId(QString);viewSmsList()"
Icon = email
Name[]=SMS
[writeSms()]
Icon = phone/sms
Name[]="Compose SMS"
[viewSms()]
Icon = phone/sms
[viewSmsId(QString)]
Icon = phone/sms
Name[]="View SMS"
[viewSmsList()]
Icon = email
Name[]= "View SMS List"
