[Translation]
File=QtopiaServices
Context=qpe
[Service]
Actions = "multitask();showRunningTasks()"
Name[]=Task Manager
Icon=home
[multitask()]
Icon=home
Name[]="Multitask"
[showRunningTasks()]
Icon=home
Name[]="Show Running Tasks"
