[Translation]
File=QtopiaServices
Context=Service:Name
[Service]
Actions="updateFromExternalSources(bool,bool,bool,bool)"
Icon=systemtime/DateTime
Name[]=Time Update
