[Translation]
File=QtopiaServices
Context=Voice Recorder
[Service]
Actions = "toggleRecording();recordAudio(QDSActionRequest)"
Icon = recordaudio
Name[]=Record
[toggleRecording()]
Icon = recordaudio
Name[]=Record Audio
