[Translation]
File=QtopiaServices
Context=Service:Name
[Service]
Actions="openURL(QString);openSecureURL(QString)"
Icon=qpe/WebAccess
Name[]="Web Access"
