[Translation]
File=qdsync-nct
Context=QDSync

[Desktop Entry]
Comment[]=Sync with Qt Extended Sync Agent.
Exec=qdsync
Icon=qdsync/qdsync
Type=Application
Name[]=Synchronization
