[Translation]
File=mylocationapp-nct
Context=mylocationapp

[Desktop Entry]
Comment[]=My Location App
Exec=mylocationapp
Icon=mylocationapp/MyLocationApp
Type=Application
Name[]=My Location App
