[Translation]
File=QtopiaApplications
Context=Archives
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=Archive viewer
Type=Application
Exec=archives
Icon=archives/Archives
MimeType=application/vnd.oma.drm.dcf
Name[]=Archives
CanFastload=0
Builtin=1
[DRM]
MimeTypePermissions=BrowseContents
