[Translation]
File=QtopiaSettings
Context=Security
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=security
Icon=security/Security
Name[]=Se\xad\x63u\xadri\xadty
CanFastload=0
