[Desktop Entry]
Comment[]=A music player application
Exec=musicplayer
Type=Application
Name[]=Music Player
Icon=musicplayer/AudioPlayer
MimeType="audio/x-wav;audio/mpeg;audio/mpeg3;audio/mp3;audio/x-mp3;audio/mpegurl;audio/x-scpls;audio/amr;audio/mp4;audio/midi;audio/3gpp"
MimeTypeIcons="musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer;musicplayer/AudioPlayer"
[Translation]
File=QtopiaApplications
Context=MusicPlayer
[DRM]
MimeTypePermissions="Play;Play;Play;Play;Play;Play;Play;Play;Play;Play;Play"
