[Translation]
File=QtopiaApplications
Context=Calendar
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Calendar and Scheduling Program
Exec=datebook
Icon=datebook/DateBook
Type=Application
Name[]=Cal\xad\x65n\xad\x64\x61r
MimeType=text/x-vcalendar
Categories=MainApplications
