[Translation]
File=filtering2-nct
Context=QMediaListTest2

[Desktop Entry]
Comment[]=QMediaList Test Program
Exec=filtering2
Icon=filtering2/filtering2
Type=Application
Name[]=filtering2
