[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Stop network services
Exec=network-services-stop.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Stop network services
