[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Start network services
Exec=network-services-start.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Start network services
