[Translation]
File=QtopiaApplications
Context=SDCardUmount
[Desktop Entry]
Comment[]=Unmount SD Card
Exec=sdcard-umount.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Safely remove SD card
