[Translation]
File=QtopiaApplications
Context=SDIOStorage
[Desktop Entry]
Comment[]=Load SD storage drivers
Exec=sdio-storage.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=SDIO Storage
