[Translation]
File=QtopiaApplications
Context=SDIOWifi
[Desktop Entry]
Comment[]=Load SDIO WiFi drivers
Exec=sdio-wifi.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=SDIO WiFi
