[Translation]
File=scanner-nct
Context=scanner

[Desktop Entry]
Comment[]=An example Bluetooth Device Discovery app
Exec=scanner
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT Device Discovery
