[Translation]
File=malpkg-nct
Context=MalPkg

[Desktop Entry]
Comment[]=A Malware App to test SXV
Exec=malpkg
Icon=malpkg/mal
Type=Application
Name[]=MalPkg
