[Translation]
File=QtopiaSettings
Context=Application Services
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=appservices
Icon=appservices/AppServices
Name[]=Ap\xadpli\xad\x63\x61\xadtion Ser\xadvices
CanFastload=0
