[Translation]
File=QtopiaSettings
Context=Startup Flags
[Desktop Entry]
Comment[]=A Development tool for modifying startup flags
Exec=startupflags
Icon=icons/flag
Type=Application
Name[]=Startup Flags
Categories=Settings;
