[Translation]
File=simpleplayer-nct
Context=SimplePlayer

[Desktop Entry]
Comment[]=Simple Media Player
Exec=simpleplayer
Icon=qaudio
Type=Application
Name[]=SimplePlayer
