[Translation]
File=webviewer-nct
Context=WebViewer
[Desktop Entry]
Comment[]=Site for Qt Extended content, hints, and tips.
Type="Service/WebAccess::openURL(QString)"
File="http://www.qtextended.org/pda"
Role=Application
Icon=qtopia
Name[]=www.QtExtended.org
