[Translation]
File=webviewer-nct
Context=WebViewer
[Desktop Entry]
Comment[]=A Web Viewer Example
Exec=webviewer
Icon=webviewer/WebViewer
Type=Application
Name[]=Web Browser
