[Desktop Entry]
Comment[]=An example application demonstrating listening for Document System notifications.
Exec=changelistener
Icon=changelistener/Example
Type=Application
Name[]=Change Listener
