[Translation]
File=QtopiaApplications
Context=Call History
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=Call History Application
Type=Application
Exec=callhistory
Icon=callhistory/CallHistory
Name[]=Call His\xadto\xadry
CanFastload=0
Builtin=1
Categories=DeskphoneLauncher
