[Translation]
File=QtopiaSettings
Context=GTalk
[Desktop Entry]
Comment[]=A Google Talk Settings Application
Exec=gtalksettings
Icon=gtalksettings/gtalk
Type=Application
Name[]=GTalk
CanFastload=0
