[Translation]
File=QtopiaSettings
Context=Call Options
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=phonesettings
Icon=phonesettings/PhoneSettings
Name[]=Call Op\xadtions
CanFastload=0
