[Translation]
File=QtopiaSettings
Context=Software Packages
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=packagemanager
MimeType=application/qpkg
Icon=packagemanager/PackageManager
Name[]=Soft\xadware Pack\xad\x61ges
CanFastload=0
