[Translation]
File=QtopiaGames
Context=Fifteen Pieces
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=Fifteen Pieces Strategy Game
Exec=fifteen
Icon=fifteen/Fifteen
Type=Application
Name[]=Fif\xadteen Pie\xad\x63\x65s
Categories=MainApplications
