[Translation]
File=QtopiaSettings
Context=Language
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=language
Icon=language/Language
Name[]=Lan\xadguage
CanFastload=0
