[Translation]
File=QtopiaApplications
Context=Yahoo Weather
[Desktop Entry]
Comment[]=An example weather application based on RSS
Exec=webweather
Icon=weblite/weather/weather.png
Type=Application
Name[]=Weather
