[Translation]
File=QtopiaGames
Context=Mine Hunt
[Desktop Entry]
Comment[]=Find the mines
Exec=minesweep
Icon=minesweep/MineHunt
Type=Application
Name[]=Mine Hunt
