[Translation]
File=create_a_pro_file-nct
Context=CreateAProFile

[Desktop Entry]
Comment[]=An Example Program
Exec=create_a_pro_file
Icon=create_a_pro_file/Example
Type=Application
Name[]=Example
