[Translation]
File=example-nct
Context=Example

[Desktop Entry]
Comment[]=An Example Program
Exec=example
Icon=example/Example
Type=Application
Name[]=Example
