[Translation]
File=devinfo-nct
Context=devinfo

[Desktop Entry]
Comment[]=An example Bluetooth Device Information app
Exec=devinfo
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT Device Info
