[Translation]
File=QtopiaApplications
Context=Radio
[Desktop Entry]
Comment[]=A SHOUTcast Radio Player
Exec=radioplayer
Icon=weblite/radioplayer/radio.png
Type=Application
Name[]=Radio
