[Translation]
File=QtopiaServices
Context=UsbGadget/Storage
[Service]
Actions="startUsbService(QString)"
Icon=qpe/USBStorage
Name[]="USB Storage Service"
Gadget=QUsbStorageGadget
