[Translation]
File=QtopiaSettings
Context=Appearance
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
CanFastload=0
Type=Application
Exec=appearance
Icon=appearance/Appearance
Name[]=Ap\xadpear\xad\x61nce
CanFastload=0
