##############################################################################
# 	$Id: timidity.cfg,v 1.4 1999/12/10 21:02:56 greglee Exp $
#
# Instrument configuration file for timidity
#
# Specify library directory:		dir <directory>
#
# - Multiple library directories may be given. The ones given last will be
#   searched first so you can override them in later configuration files.
#   Extra configuration files and MIDI files will also be searched in these
#   directories.
#
# Set tone bank or drum set to modify:	bank <number>
#					drumset <number>
#
# Map program number to patch map:	<program number> <patch name>
#
# - If the patch can't be found in the library directories, TiMidity will 
#   search again with ".pat" appended to the name.
#   Programs without a loaded patch will be silent, except that for
#   banks/drumsets >0, the corresponding patch in  bank/drumset 0 will
#   be used (if one exists).
#
# Read another configuration file:	source <file name>
#

##############################################################################
# If you've moved things around since compiling, uncomment and edit this to
# point to the library directory: 
#
# dir /opt/kde2/share/apps/kmidi/config
#
dir /usr/share/timidity

##############################################################################
# This sets up the default patches

source piano+guitar.cfg
source drums.cfg

##############################################################################
# End of configuration file
