[Translation]
File=QtopiaApplications
Context=Podcasts
[Desktop Entry]
Comment[]=Podcast Player
Exec=podcastviewer
Icon=weblite/podcastviewer/podcastviewer.png
Type=Application
Name[]=Podcasts
