[Translation]
File=filtering-nct
Context=QMediaListTest

[Desktop Entry]
Comment[]=QMediaList Test Program
Exec=filtering
Icon=filtering/filtering
Type=Application
Name[]=filtering
