[Translation]
File=messageviewer-nct
Context=MessageViewer

[Desktop Entry]
Comment[]=A Message Viewer Program
Exec=messageviewer
Icon=messageviewer/MessageViewer
Type=Application
Name[]=MessageViewer
