[Translation]
File=textviewer-nct
Context=textviewer

[Desktop Entry]
Comment[]=An Example Program to View Text Files
Exec=textviewer
Icon=textviewer/TextViewer
Type=Application
MimeType=text/*
Name[]=Text Viewer
[DRM]
MimeTypePermissions=Display
