[Translation]
File=qaudiomixertest-nct
Context=QAudioMixerTest

[Desktop Entry]
Comment[]=Audio Mixer Test Program
Exec=qaudiomixertest
Icon=qaudiomixertest/qaudio
Type=Application
Name[]=QAudioMixerTest
