[Translation]
File=QtopiaApplications
Context=Network
[Desktop Entry]
Comment[]=Start Maemo on next boot
Exec=maemo.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Start Maemo on next boot
