[Translation]
File=QtopiaApplications
Context=Network
[Desktop Entry]
Comment[]=Stop USB networking
Exec=usbnet-stop.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Stop USB networking
