[Translation]
File=QtopiaApplications
Context=Network
[Desktop Entry]
Comment[]=Stop and Start USB networking
Exec=usbnet-restart.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Stop and Start USB networking
