[Translation]
File=rfcommclient-nct
Context=rfcommclient

[Desktop Entry]
Comment[]=An example Bluetooth RFCOMM client app
Exec=rfcommclient
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT RFCOMM Client
