[Translation]
File=QtopiaSettings
Context=BTSettings
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=btsettings
Icon=btsettings/BTSettings
Type=Application
Name[]=Blue\xadtooth
