[Translation]
File=QtopiaSettings
Context=Handwriting
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Icon=hwsettings/recognition_settings
Exec=hwsettings
Name[]=Hand\xadwri\xadting
CanFastload=0
Requires=Touchscreen
