[Translation]
File=QtopiaApplications
Context=DocAPIRescan
[Desktop Entry]
Comment[]=Recans the device for document changes
Exec=docapi-rescan.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Rescan Documents
