[Translation]
File=QtopiaApplications
Context=PowerManagerServices
[Desktop Entry]
Comment[]=Put Neo in fast charge mode
Exec=fast-charge
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Fast Charge Mode
