[Translation]
File=QtopiaApplications
Context=NetworkServices
[Desktop Entry]
Comment[]=Reacquire Authentication Key
Exec=get-ssh-key.sh
Icon=devtools/devtools
Type=ConsoleApplication
Name[]=Reacquire Auth Key
