[Translation]
File=mappingdemo-nct
Context=mappingdemo

[Desktop Entry]
Comment[]=Mapping Demo
Exec=mappingdemo
Icon=mappingdemo/MappingDemo
Type=Application
Name[]=Mapping Demo
