[Translation]
File=QtopiaSettings
Context=Network
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=netsetup
Icon=netsetup/PPPConnect
Type=Application
Name[]=In\xadter\xadnet
CanFastload=0
