<?xml version="1.0"?>
<page xmlns="http://www.trolltech.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.trolltech.com themedview.xsd" name="contextbar" base="themes/home_wvga" rect="0,0,30x0">
  <image rect="0,0,0x0" src="bottombar_background.png" transient="yes" tile="yes" scale="horizontal" active="!expr:@/Communications/Calls/ActiveCalls"/>
    <text rect="7,0,69%x0" size="6" bold="yes" align="left,vcenter" color="#ffffff">
    expr:@/UI/ActiveWindow/Title
    </text>
    <layout rect="70%,0,30%x0">
	<image expanding="yes" name="button2" rect="0,0,0x0" align="vcenter" interactive="yes"/>
	<group expanding="yes">
	    <image name="button1" rect="0,0,0x0" align="vcenter" interactive="yes"/>
	</group>
        <image expanding="yes" name="button0" rect="0,0,0x0" align="vcenter" interactive="yes"/>
    </layout>
    <layout rect="70%,0,30%x0">
	<text expanding="yes" name="button2" color="#FFFFFF" rect="0,2,0x0" size="7" bold="yes" align="vcenter,hcenter" interactive="yes"/>
        <text expanding="yes" name="button1" color="#FFFFFF" rect="0,2,0x0" size="7" bold="yes" align="vcenter,hcenter" interactive="yes"/>
        <text expanding="yes" name="button0" color="#FFFFFF" rect="0,2,0x0" size="7" bold="yes" align="vcenter,hcenter" interactive="yes"/>
    </layout>
</page>
