[Translation]
File=QtopiaApplications
Context=Contacts
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=An Address Book Program
Exec=addressbook
Icon=addressbook/AddressBook
Type=Application
MimeType="text/x-vcard;text/directory"
Name[]=Con\xadtacts
Categories="MainApplications;DeskphoneLauncher"
