[Translation]
File=bluetoothservice-nct
Context=bluetoothservice

[Desktop Entry]
Comment[]=An example Bluetooth service
Exec=bluetoothservice
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT Service
