<?xml version="1.0"?>
<page xmlns="http://www.trolltech.com" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.trolltech.com themedview.xsd" name="contextbar" base="themes/qtopia">
  <image rect="0,0,0x0" src="contextbar.png" scale="yes" color="#000000" alpha="125"/>
  <image rect="0,0,0x0" src="contextbar.png" scale="yes" color="#50D914" alpha="125" active="expr:@/Communications/Calls/ActiveCalls > 0"/>
  <layout>
	<image expanding="yes" name="button0" rect="0,0,0x30%" align="vcenter" interactive="yes"/>
    <image expanding="yes" name="button1" rect="0,0,0x30%" align="vcenter" interactive="yes"/>
	<image expanding="yes" name="button2" rect="0,0,0x30%" align="vcenter" interactive="yes"/>
  </layout>
  <layout>
	<text expanding="yes" name="tbutton0" color="Text" rect="0,2,0x0" size="5" bold="yes" align="vcenter,hcenter" interactive="yes"/>
    <text expanding="yes" name="tbutton1" color="Text" rect="0,2,0x0" size="5" bold="yes" align="vcenter,hcenter" interactive="yes"/>
    <text expanding="yes" name="tbutton2" color="Text" rect="0,2,0x0" size="5" bold="yes" align="vcenter,hcenter" interactive="yes"/>
  </layout>
</page>
