[Translation]
File=videoconf-nct
Context=videoconf

[Desktop Entry]
Comment[]=An example program demonstrating use of the QMediaRtp classes.
Exec=videoconf
Icon=videoconf/Example
Type=Application
Name[]=Video Conference
