[Translation]
File=QtopiaSettings
Context=Task Manager
[Desktop Entry]
Type=Application
ExecXXX=qcop service TaskManager showRunningTasks()
Exec=taskmanager
Icon=qpe/AppsIcon
Name[]=Task Manager
CanFastload=0
Builtin=1
