[Translation]
File=QtopiaApplications
Context=Voice Notes
[Desktop Entry]
Comment[]=A Voice Recording Program
Exec=mediarecorder
Icon=mediarecorder/SoundRecorder
Type=Application
Name[]=Voice Notes
