[Translation]
File=messagenavigator-nct
Context=MessageNavigator

[Desktop Entry]
Comment[]=A Message Navigator Program
Exec=messagenavigator
Icon=messagenavigator/MessageNavigator
Type=Application
Name[]=MessageNavigator
