[Translation]
File=QtopiaSettings
Context=USBConnectionMode
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=usbconnectionmode
Icon=qpe/UsbSettings
Name[]=USB Con\xadnec\xadtion Mode
CanFastload=0
Builtin=1
