[Translation]
File=pimdatagui-nct
Context=PIM Data Generator
[Desktop Entry]
Comment[]=A Development tool for generating PIM data
Exec=pimdatagui
Icon=icons/settings
Type=Application
Name[]=PIM Data Generator
