[Translation]
File=QtopiaSettings
Context=Call Forwarding
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=callforwarding
Icon=callforwarding/CallForwarding
Name[]=Call For\xadwarding
CanFastload=0
