[Translation]
File=QtopiaSettings
Context=Homescreen
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=homescreen
Icon=homescreen/homescreen
Name[]=Homescreen
CanFastload=0
