[Translation]
File=QtopiaSettings
Context=Asterisk
[Desktop Entry]
Comment[]=An Asterisk Settings Application
Exec=iaxsettings
Icon=iaxsettings/Asterisk
Type=Application
Name[]=Asterisk
CanFastload=0
