[Translation]
File=radioplayer-nct
Context=RadioPlayer
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=Radio Tuner Program
Exec=radioplayer
Icon=radioplayer/RadioPlayer
Type=Application
Name[]=Radio
MimeType=application/x-kradio-presets
