[Translation]
File=QtopiaSettings
Context=Licenses
[Desktop Entry]
Name[]=Licenses
Exec=drmbrowser
Type=Application
Comment[]=Digital Rights Management Information
Icon=drm/Drm
MimeType="application/vnd.oma.drm.message;application/vnd.oma.drm.rights+xml;application/vnd.oma.drm.rights+wbxml;application/vnd.oma.drm.roap-trigger+xml;application/vnd.oma.drm.roap-pdu+xml;application/vnd.oma.drm.ro+xml"
