[Translation]
File=webviewer-nct
Context=WebViewer
[Desktop Entry]
Comment[]=Active homescreen prototype
Type="Service/WebAccess::openSecureURL(QString)"
File="file:///home/demo/Documents/homescreen/homescreen.html"
Role=Application
Icon=webviewer/WebViewer
Name[]=Active Homescreen
