[Translation]
File=QtopiaApplications
Context=Help
[Desktop Entry]
Comment[]=A HTML Help Browser Program
Type="Service/Help::setDocument(QString)"
File="index.html"
Role=Application
Icon=helpbrowser/HelpBrowser
Name[]=Help
[Help]
File="helpbrowser.html"
