[Translation]
File=QtopiaSettings
Context=Light & Power
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=light-and-power
Icon=light-and-power/Light
Name[]=Pow\xad\x65r Man\xad\x61ge\xadment
CanFastload=0
