[Translation]
File=QtopiaApplications
Context=Messages
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Exec=qtmail
Icon=qtmail/EMail
Type=Application
Name[]=Mes\xadsages
Categories="MainApplications;DeskphoneLauncher"
