[Translation]
File=filter-nct
Context=filter

[Desktop Entry]
Comment[]=An example Bluetooth remote device filter
Exec=filter
Icon=bluetooth/bluetooth-online
Type=Application
Name[]=BT Device Filter
