[Translation]
File=qaudioservertest-nct
Context=QAudioServerTest

[Desktop Entry]
Comment[]=Audio Server Test Program
Exec=qaudioservertest
Icon=qaudioservertest/qaudio
Type=Application
Name[]=QAudioServerTest
