[Translation]
File=imageviewer-nct
Context=ImageViewer

[Desktop Entry]
Comment[]=A Image Viewer Program
Exec=iviewer
Type=Application
Name[]=ImageViewer
MimeType="image/png" 
