[Desktop Entry]
Encoding=UTF-8
Name=Qtopia SDK Qt Assistant
Comment=
Exec=/opt/Qtopia/SDK/scripts/runassistant
Terminal=false
Type=Application
Icon=/opt/Qtopia/SDK/pics/qtlogo.png
StartupNotify=true
Categories=Application;Development;
