[Desktop Entry]
Encoding=UTF-8
Name=Qtopia SDK Qt Designer
Comment=
Exec=/opt/Qtopia/SDK/scripts/designer
Terminal=false
Type=Application
Icon=/opt/Qtopia/SDK/pics/qtlogo.png
StartupNotify=true
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Development;
