[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=sudo tail -f /var/log/messages
GenericName=
GenericName[en_US]=
Icon=system
MimeType=
Name=Qtopia SDK Device Log
Name[en_US]=Qtopia SDK Device Log
Path=
StartupNotify=true
Terminal=true
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Development;
