[Desktop Entry]
Encoding=UTF-8
Name=Qtopia SDK Qt Linguist
Comment=
Exec=/opt/Qtopia/SDK/scripts/linguist
Terminal=false
Type=Application
Icon=/opt/Qtopia/SDK/pics/qtlogo.png
StartupNotify=true
Categories=Application;Development;
