[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=/opt/Qtopia/SDK/scripts/home-runqpe
GenericName=
GenericName[en_US]=
Icon=/opt/Qtopia/SDK/pics/qtlogo.png
MimeType=
Name=Qtopia SDK runqpe
Name[en_US]=Qtopia SDK runqpe
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Development;
