[Desktop Entry]
Encoding=UTF-8
Name=Qtopia SDK User Guide
Comment=
Exec=acroread /opt/Qtopia/SDK/userguide.pdf
Terminal=false
Type=Application
Icon=acroread
StartupNotify=true
Categories=Application;Development;
