[Desktop Entry]
Comment=
Comment[en_US]=
Encoding=UTF-8
Exec=ksystraycmd /usr/lib/vmware-tools/bin32/vmware-toolbox --minimize 
GenericName=
GenericName[en_US]=
Icon=
MimeType=
Name=VMware Tools
Name[en_US]=VMware Tools
Path=
StartupNotify=true
Terminal=false
Type=Application
X-DCOP-ServiceType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Application;Development;
