[Translation]
File=QtopiaApplications
Context=Tasks
[Desktop Entry]
Comment[]=A Todo List Program
Exec=todolist
Icon=todolist/TodoList
Type=Application
Name[]=Tasks
Categories=MainApplications
