[Translation]
File=QtopiaApplications
Context=Bluetooth
[Desktop Entry]
Comment[]=Bluetooth Applications Suite
Exec=bluetooth
Icon=btsettings/BTSettings
Type=Application
Name[]=Bluetooth FTP
Categories=MainApplications
