[Translation]
File=QtopiaApplications
Context=Clock
[Desktop Entry]
Comment[]=A Clock Program
Exec=clock
Icon=clock/Clock
Type=Application
Name[]=Clock
Categories=MainApplications
