[Translation]
File=QtopiaSettings
Context=ServerWidgets
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Type=Application
Exec=serverwidgets
Icon=serverwidgets/ServerWidgets
Name[]=Ser\xadver Wid\xadgets
CanFastload=0
