[Translation]
File=QtopiaGames
Context=Mindbreaker
Comment[Desktop Entry/Name]=Use soft hyphen (char U00AD) to indicate hyphenation
[Desktop Entry]
Comment[]=A Code Breaking Game
Exec=mindbreaker
Icon=mindbreaker/Mindbreaker
Type=Application
Name[]=Mind\xad\x62reak\xad\x65r
